@media (min-width: 1024px) {
    * {
        font-family: 'Inter', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 90%;
        margin: auto;
    }

    .box-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0;
        margin: 0;
    }

    .box-navbar img {
        width: 200px;
    }

    .box-navbar ul {
        display: flex;
        list-style-type: none;
    }

    .box-navbar ul a {
        text-decoration: none;
        color: rgb(41, 41, 41);
    }

    .box-navbar ul li {
        padding: 0 50px;
    }

    .box-navbar button {
        padding: 15px;
        background-color: #0649ce;
        color: white;
        border-radius: 8px;
        border: none;
    }

    .box-navbar .menu-bar {
        padding: 15px;
        background-color: red;
        color: white;
        border-radius: 8px;
        border: none;
    }

    .box-navbar .ri-menu-line {
        display: none;
    }

    /* ------------------------------- */

    .hero {
        background-color: #0554f2;
        color: white;
        padding: 60px 0;
        text-align: left;
    }

    .hero .box-hero {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hero .box-hero .text-hero {
        width: 38%;
    }

    .hero .box-hero h1 {
        font-size: 60px;
        padding-bottom: 10px;
    }

    .hero .box-hero p {
        font-size: 14px;
        width: 60%;
        padding-bottom: 20px;
    }

    .hero .box-hero button {
        padding: 15px;
        background-color: #0649ce;
        color: white;
        border-radius: 8px;
        border: none;
    }

    .hero .box-hero .img-hero img {
        display: inline;
        width: 500px;
        border: none;
        border-radius: 10px;
    }

    /* ------------------------------- */

    .alur {
        padding: 60px 0;
        text-align: center;
    }

    .alur .box-alur h1 {
        padding-bottom: 10px;
    }

    .alur .box-alur p {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .alur .box-alur .langkah-box {
        padding-top: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .alur .box-alur .alone {
        width: 40%;
        margin: auto;
    }

    .alur .box-alur .langkah {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 70%;
        margin: 30px auto;
        padding: 20px 0;
    }

    .alur .box-alur .langkah h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    /* ------------------------------- */

    .syarat {
        padding: 60px 0;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .syarat .box-syarat h1 {
        padding-bottom: 10px;
    }

    .syarat .box-syarat .syarat-box {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 80%;
        margin: 30px auto;
        padding: 20px 10px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .syarat .box-syarat .duo {
        padding-top: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    
    .syarat .box-syarat .alone {
        width: 60%;
        margin: auto;
    }

    .syarat .box-syarat .syarat-box p {
        font-size: 15px;
    }

    .syarat .box-syarat .syarat-box i {
        font-size: 50px;
        padding-right: 10px;
    }

    /* ------------------------------- */

    .footer {
        padding: 60px 0;
    }

    .footer .box-footer img {
        padding-bottom: 10px;
        width: 200px;
    }

    .footer .box-footer p {
        padding-bottom: 10px;
    }

    .footer .box-footer .awal {
        width: 18%;
    }

    .footer .box-footer .tautan {
        padding-bottom: 10px;
    }
    
    .footer .box-footer .tautan-box {
        display: flex;
        justify-content: space-around;
    }

    .footer .box-footer .tautan ul a {
        text-decoration: none;
        color: black;
    }

    .footer .box-footer .tautan ul h3 {
        padding-bottom: 10px;
    }

    .footer .box-footer .tautan ul a li {
        padding: 10px 0 5px 0;
        list-style-type: none;
    }

    .footer .box-footer .tautan h3 {
        padding-bottom: 20px;
    }

    .footer .box-footer .tautan iframe {
        width: 100%;
        height: 200px;
    }

    .footer .box-footer hr {
        margin-top: 20px;
    }

    .footer .box-footer .akhir {
        display: flex;
        justify-content: space-around;
    }

    .footer .box-footer .sosmed {
        padding-top: 30px;
        text-align: center;
    }

    .footer .box-footer .sosmed i {
        background-color: #0554f2;
        color: #f1f1f1;
        font-size: 20px;
        padding: 10px;
        margin: auto 5px;
        border-radius: 100%;
    }

    .footer .box-footer .end p {
        padding: 30px 0 0 0;
        padding-bottom: 0;
        text-align: center;
    }
}